{% extends 'store/main.html' %}
{% load static %}
{% block content %}




</div>
        <table class="table">
             <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">product</th>
                    <th scope="col">order.no</th>
                    <th scope="col">Customer</th>
                    <th scope="col">quantity</th>
                    <th scope="col">date</th>
                </tr>
             </thead>


  <tbody>
      {% for item in data %}
             <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.product}}</td>
                 <td>{{item.order}}</td>
                <td>{{item.order.customer.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.date_added}}</td>
             </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock content %}
