{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<section class="section-intro padding-top-sm">
	<div class="container">
	<main class="card p-3">
		<div class="row">
			<aside class="col-lg-3">
				<nav class="nav flex-column nav-pills">
				  <a class="nav-link " href="#">Electronics</a>
				  <a class="nav-link " href="#">Clothes and wear</a>
				  <a class="nav-link " href="#">Home interiors</a>
				  <a class="nav-link " href="#">Computer and tech</a>
				  <a class="nav-link " href="#">Tools, equipments</a>
				  <a class="nav-link " href="#">Sports and outdoor</a>
				  <a class="nav-link " href="#">Animal and pets</a>
				  <a class="nav-link " href="#">Machinery tools</a>
				  <a class="nav-link " href="#">Other products</a>
				</nav>
			</aside>
			<div class="col-lg-9">
				<article class="card-banner p-5 bg-primary" style="height: 360px">
					<div style="max-width: 500px">
			        <h2 class="text-white">Great products with <br> best deals </h2>
			        <p class="text-white">No matter how far along you are in your sophistication as an amateur astronomer, there is always one.</p>
			        <a href="#" class="btn btn-warning"> View more </a>
			        </div>
				</article>
			</div>
		</div>
	</main>
	</div> <!-- container end.// -->
</section>

<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

				<a class="btn btn-outline-success" href="{% url 'details' product.id %}">View</a>
				<h4 style="display: inline-block; float: right"><strong>Rs.{{product.price}}</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}


